@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    font-family: 'Jua', sans-serif;
}
.start {
    position: relative;
    min-height: 100vh;
    justify-content: center;
    font-size: calc(20px + 2vmin);
  }
.logo{
    width:375px;
    height:200px;
    position: absolute;
    top:30%;
    left:calc(50% - 187.5px);
}
.start > .login{
    position: absolute;
    top:55%;
    left:40%;
}
.start > .register{
    position: absolute;
    top:55%;
    right:40%;
}
.popupbtn{
    width:125px;
    height:50px;
    background-color: white;
    border:0px;
}