
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

/*-----=====전역태그(밑작업)=====-----*/
*{
  font-family: 'Jua', sans-serif;
  padding:0px;
  margin:0px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	outline: none;
  color: black;
}

/*-----=====시작 페이지=====-----*/
.start {
  position: relative;
  min-height: 100vh;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}
.logo{
  width:30%;
  padding-top:15%;
  padding-left:35%;
  padding-right:35%;
  padding-bottom:5%;
}
.btn{
  border:0;
  background-color: white;
  font-size: 20px;
}
.loginbtn{
  position:absolute;
  top:65%;
  left:40%;
}
.registerbtn{
  position:absolute;
  top:65%;
  right:40%;
}

/*-----=====헤더=====-----*/
header{
  box-sizing: border-box;
  width: auto;
  width: calc(100% - 245px);
  height:15vh;
  font-size: calc(10px + 2vmin);
}
.logo_header{
  position: absolute;
  top:4%;
  left:5%;
}

/*-----=====본문=====-----*/
main{
  width:auto;
  width: calc(100% - 245px);
  height:77.5vh;
}

/*-----=====사이드바=====-----*/
aside{
  position: absolute;
  top: 0px;
  right: 0px;
  float:right;
  width:200px;
  height: 92.5vh;
  font-size: 20px;
}
aside > nav > ul{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:70vh;
}
/*사이드바_공고문쓰기*/
aside > box{
  position: relative;
  width:200px;
  height: 200px;
}
.quartercircle{
  position:absolute; 
  bottom:0px;
  right: 0px;
  width:170px;
  height:170px;
  border-top-left-radius: 200px;
  background-color: #FFBF19;
}
.icon_write{
  width: 40%;
  position:absolute; 
  bottom:35px;
  right: 35px;
}
/*사이드바_세로줄*/
.lines{
  position: absolute;
  top:0;
  right:200px;
}
.line{
  float: right;
  width:5px;
  height:92.5vh;
  margin-left: 10px;
}
.l1{
  background-color: #FFDCDC;
}
.l2{
  background-color: #FFC38C;
}
.l3{
  background-color: #FFDE9E;
}

/*-----=====푸터=====------*/
footer{
  width:100%;  
  height: 7.5vh;
  font-size: 10px;
  text-align: center;
}

/*-----=====로딩글씨(main)=====-----*/
.loadingtext{
  position: absolute;
  font-size: 50px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
}

/*-----=====404페이지(main)=====-----*/
.logo_404{
  width:20%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.icon_404{
  width:15%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, 0%);
}
.errortext{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-size: 22.5px;
  color: #5F5F5F;
}

/*-----=====about페이지 본문=====-----*/
.logo_about{
  position: absolute;
  top:15%;
  left:17.5%;
}
.maintext{
  position: absolute;
  top:37.5%;
  left:20%;
  font-size: 20px;
  line-height: 35px;
}
.subtext{
  position: absolute;
  top:55%;
  left:20%;
  line-height: 35px;
  color:#5F5F5F;
}

/*-----=====Rank페이지 본문=====-----*/
#case1, #case2{
  background-color: white;
  border:none;
  font-size: 25px;
  color: #bebcbc;
}
#case1{
  position: absolute;
  top:17.5%;
  left:15%;
}
#case2{
  position: absolute;
  top:30%;
  left:15%;
}
.testgrid{
  width:auto;
  height: 77.5vh;
  margin-right: 10%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
  float:right;
  text-align: center;
  overflow: scroll;
  -ms-overflow-style: none;
}
.testgrid::-webkit-scrollbar {
  display: none;
}
.testitem{
  width:250px;
  height: 200px;
  border-radius: 20px;
  background-color: #FFDCDC;
}
.testtitle{
  margin:10px;
  width:230px;
  height:150px;
  border-radius: 20px;
  background-color: white;
  font-size: 25px;
  line-height: 150px;
}
.testtag{
  margin-left:20px;
  margin-right:20px;
  text-align: left;
}

/*-----=====팝업창=====-----*/
.popup{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100vh;
  background: #808080;
}
.popupinput{
  width:50%;
  height:4vh;
  border: 2px solid #FFA800;
  border-radius: 10px;
}
/*로그인*/
.popup_login{
  position: fixed;
  text-align: center;
  top:20%;
  left:35%;
  width:30%;
  height: 60vh;
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
}
.popup_login > img{
  position: absolute;
  top:10%;
  left:35%;
  width:30%;
}
.logintext{
  position: absolute;
  top:22%;
  left:45%;
}
.popup_login > .popupbtn{
  position: absolute;
  width: 30%;
  height: 5vh;
  top:75%;
  left:35%;
  background-color: #FFA800;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
}
.L1{
  position: absolute;
  top:40%;
  left:20%;
}
.L11{
  position: absolute;
  top:39%;
  left:37.5%;
}
.L2{
  position: absolute;
  top:55%;
  left:17%;
}
.L22{
  position: absolute;
  top:54%;
  left:37.5%;
}
/*회원가입*/
.popup_register{
  position: fixed;
  text-align: center;
  top:10%;
  left:30%;
  width:40%;
  height: 80vh;
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
}
.popup_register >img{
  position: absolute;
  top:6%;
  left:40%;
  width:20%;
}
.registertext{
  position: absolute;
  top:13.5%;
  left:45%;
}
.popup_register > .popupbtn{
  position: absolute;
  width: 30%;
  height: 5vh;
  top:85%;
  left:35%;
  background-color: #FFA800;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-size: 17px;
}
.R1{
  position: absolute;
  top:22%;
  left:25%;
}
.R11{
  position: absolute;
  top:21%;
  left:37.5%;
}
.R2{
  position: absolute;
  top:32%;
  left:27.5%;
}
.R22{
  position: absolute;
  top:31%;
  left:37.5%;
}
.R3{
  position: absolute;
  top:42%;
  left:22.5%;
}
.R33{
  position: absolute;
  top:41%;
  left:37.5%;
}
.R4{
  position: absolute;
  top:52%;
  left:27.5%;
}
.R44{
  position: absolute;
  top:51%;
  left:37.5%;
}
.R5{
  position: absolute;
  top:62%;
  left:27.5%;
}
.R55{
  position: absolute;
  top:61%;
  left:37.5%;
}
.R6{
  position: absolute;
  top:72%;
  left:22.5%;
}
.R66{
  position: absolute;
  top:71%;
  left:37.5%;
}

.popup_post{
  position: absolute;
  top:20%;
  left:25%;
  width:50%;
  height:60vh;
  background: #FFFFFF;
  border-radius: 30px;
}
.icon_popup{
  position: absolute;
  top:5%;
  left:40%;
}
.popup_post > .popupbtn{
  position: absolute;
  width: 10%;
  height: 5vh;
  top:85%;
  left:45%;
  background-color: #FFA800;
  border-style: none;
  border-radius: 30px;
  color: white;
  font-size: 17px;
}
.P11{
  position: absolute;
  width:80%;
  top:20%;
  left:10%;
}
.P22{
  position: absolute;
  width:80%;
  height: 40%;
  top:30%;
  left:10%;
}
.P33{
  position: absolute;
  background: #F0F0F0;
  border: 0px;
  width:72.5%;
  height: 10%;
  top:73%;
  left:10%;
}
.icon_sharp{
  position: absolute;
  top:73%;
  left:85%;
}
